*.iml
.gradle
/local.properties
/app/build/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.local.properties
/.idea/

#un use file

build.gradle.kts
gradle.bat
gradle.properties
settings.gradle.kts